
/* 中间右边框展示页面属性 */
.display{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
/* 展示框的图片样式 */
.listcon{
	float: left;
	width: 220px;
	height: 200px;
	margin-bottom: 28px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 10px 5px rgba(0,0,0,0.5);
	overflow: hidden;
}
/* 展示图片样式 */
.listcon-topic{
	position: relative;
	width: 220px;
    height: 157px;
	overflow: hidden;
}
.listcon-topic::before{
	position: absolute;
	top: 0;
	left: 50%;
	content: "";
	width: 0;
	height: 157px;
	opacity: 0;
	transition: 0.2s;
	background-color: rgba(0,0,0,0.5);
}
.listcon-topic:hover:before{
	width: 220px;
	left: 0;
    opacity: 1;
} 
.listcon-topic:hover .info{
    opacity: 1;
    transition-delay: 0.2s;
}
/* 遮罩层信息 */
.info{
	list-style: none;
	color: #faff72;
	text-shadow: 0 0 5px #f60;
	text-align: center;
	transition: all 0.3s ease 0s;
	opacity: 0;
}
.title{
    position: absolute;
	top: 50%;
	left: 50%;
	width: 220px;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	font-size: 26px;
	font-weight: bold;
}
.price{
    position: absolute;
	top: 91%;
	left: 50%;
	width: 220px;
	transform: translateX(-50%) translateY(-50%);
	font-size: 20px;
	font-weight: bold;
}
/* 按钮样式 */
.buttom{
	width: 220px;
	height: 43px;
	font-size:22px;
	font-family: 楷体;
	text-align: center;
	line-height: 43px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	background: #f9906f;
	box-shadow:inset 0 0 5px rgba(0,0,0,0.5);
	transition: 0.5s;
}
.buttom:hover{	
	background: #bf2610;
}
.buttom:active{
	color: #ffc773;
	box-shadow: inset 0 0 30px rgba(0,0,0,0.5);
}